@media (max-width: 1200px) {
  /* not sure what this was for but i'm pretty sure it was commented out */
  /* .section-hero {
    background-size: contain;
  } */
  section#drinks .menu-item-description {
    font-size: 1.4rem;
  }
}

@media (max-width: 976px) {
  /* start of original nav queries */
  nav.main-nav {
    /* display: none; */
  }
  .header {
    justify-content: space-between;
  }
  .header .logo {
    display: block;
  }
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.897);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* hide navigation by default */
    /* display none does not allow animations */
    /* display: none; */

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }

  /* end of original nav queries */
  .hero {
    text-align: center;
    margin: 0 auto;
    width: 75%;
    /* margin-top: 10px; */
    /* position: relative; */
    /* top: 25%; */
    /* left: 15%; */
    /* transform: translate(-10%, -20%); */
  }

  .hero .heading-primary {
    font-size: 36px;
  }

  .hero div.hero-blurb p {
    font-size: 2.4rem;
    text-align: center;
  }

  .hero-btns-box {
    justify-content: center;
  }

  #about .heading-secondary {
    font-size: 3.6rem;
  }

  #about .flex-div div p {
    font-size: 1.8rem;
  }

  #reservations .container .heading-secondary {
    text-align: center;
  }
}

@media (max-width: 850px) {
  .hours-flexbox {
    gap: 1.2rem;
  }
  .hours-flexbox div h4 {
    font-size: 2rem;
  }
}
@media (max-width: 780px) {
  #menus .menu-links-box {
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    /*this will be activated with JavaScript*/
    left: 0;
    z-index: 2;
  }

  #hoursBanner {
    height: 96rem;
  }

  #reservations .flex-div,
  #about .flex-div {
    flex-direction: column;
    /* gap: 2.4rem; */
  }

  #menus .flex-div {
    flex-direction: column-reverse;
  }

  #reservations .flex-div img,
  #menus .flex-div img,
  #about .flex-div img {
    width: 100%;
    max-width: 56rem;
    margin: 0 auto;
  }

  #reservations .flex-div div,
  #menus .flex-div div,
  #about .flex-div div {
    gap: 3.2rem;
  }

  #reservations .flex-div div p,
  #menus .flex-div div p,
  #about .flex-div div p {
    font-size: 2.6rem;
    margin-bottom: 6.4rem;
  }

  .heading-secondary {
    margin-bottom: 3.2rem;
    margin-top: 7.2rem;
  }
}

@media (max-width: 760px) {
  .hours-flexbox {
    flex-direction: column;
    gap: 3.2rem;
  }

  #about .flex-div div {
    margin-bottom: 6.4rem;
  }

  footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 640px) {
  .header {
    padding: 0 2.4rem;
  }
  .hero {
    width: 100%;
    margin: 0 auto;
  }
  .hero .hero-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 6.4rem;
    width: 100%;
    max-width: 36rem;
  }
  .hero-logo-box img {
    /* max-width: 100vh; */
  }

  .hours-flexbox {
    /* flex-direction: column; */
    min-height: fit-content;
    margin-top: 6.4rem;
    gap: 2.4rem;
  }

  section.menu p.disclaimer {
    text-align: center;
    font-size: 1.6rem;
  }

  .menu-group,
  section#brunch .menu-group,
  section#lunch .menu-group,
  section#dinner .menu-group,
  section#drinks .menu-group,
  section#beer .menu-group {
    grid-template-columns: 1fr;
  }

  span.menu-item-name {
    font-size: 2.4rem;
  }

  section#brunch p.menu-item-description,
  section#lunch p.menu-item-description,
  section#dinner p.menu-item-description,
  section#drinks p.menu-item-description,
  section#beer p.menu-item-description {
    font-size: 2rem;
    color: #919191;
  }
}

@media (max-width: 452px) {
  .section-hero {
    height: 1000px;
  }
  .header {
    padding: 0 1.2rem;
  }
  .hero .hero-logo-box {
    margin: 0 auto;
    margin-bottom: 4.2rem;
  }
  .hero-logo-box img {
    max-width: 300px;
  }
  .hero .heading-primary {
    text-align: center;
    /* transform: translateX(-5%); */
  }

  .hero-blurb p {
    text-align: center;
    /* transform: translateX(-2%); */
  }

  .hero-btns-box {
    /* transform: translateX(-2%); */
    display: flex;
    flex-direction: column;
  }

  p.comeDine {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  #about .container {
    padding: 0;
  }

  footer {
    flex-direction: column;
    gap: 1.2rem;
  }

  footer ul {
    padding-left: 0;
  }
}

@media (min-width: 976px) {
  .header .logo {
    display: none;
  }

  .hero p {
    max-width: 75%;
  }
}
