@media (max-width: 1200px) {
  /* .section-hero {
    background-size: contain;
  } */
}

@media (max-width: 976px) {
  .hero {
    /* margin-top: 10px; */
    position: relative;
    top: 25%;
    left: 25%;
    transform: translate(0);
  }

  .hero .heading-primary {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }
}
