@font-face {
  font-family: "Garet Book";
  src: url("fonts/Garet-Book.woff2");
}

@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

/* green from logo! */
/* #889672 */

/* gold from signature */
/* #eac569 */

/* pink from small logo */
/* #f9d1d3 */

/* start of original navigation styles */
.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #f9f2f2; */
  background: transparent;
  /* want header to be sticky later on */
  height: 9.6rem;
  padding: 0 1.8rem;
  position: absolute;
  z-index: 100;
}

.logo {
  height: 6.4rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  color: #f9f2f2;
  font-weight: 500;
  font-size: 1.8rem;
}

.nav-open .main-nav-link:link,
.nav-open .main-nav-link:visited {
  color: #5a634b;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #ff2b8e;
  /* color: #f2c84b; */
  /* color: #889672; */
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 0.25rem;
  color: #444;
  /* background-color: #f9d1d3; */
  background-color: #f7de94;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #889672;
  color: #fff;
}

/* *********************** */
/* MOBILE */
/* *********************** */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #f9f2f2;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
  color: #5a634b;
}

/* *** STICKY NAVIGATION  *** */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9d1d3b6;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 999;
}

.sticky .main-nav-link:link,
.sticky .main-nav-link:visited {
  color: #333;
}

/* rgba(249, 210, 212, 0.615) */
/* end of original navigation styles */

.section-hero {
  position: relative;
  /* text-align: center; */
  height: 900px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* background-image: linear-gradient(rgba(86, 106, 81, 0.65), rgba(71, 91, 74, 0.85)), url("images/image-6.jpg"); */
  background-image: linear-gradient(#945154bb, #4f3d3fb0), url("images/image-6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.hero {
  /* width: 60%; */
  color: #fff;
  font-size: 2rem;
  padding-top: 16rem;
  padding-bottom: 20%;
  margin-left: 10%;
  /* position: absolute; */
  /* in relation to PARENT */
  /* left: 50%; */
  /* top: 15%; */
  /* transform: translate(-75%, -50%); */
}

/* .hero .hero-logo-box {
  margin-bottom: 3.6rem;
} */

.hero-logo-box img {
  width: 42rem;
}

.hero .heading-primary {
  font-family: "Roboto Slab", serif;
  color: #fff;
  font-weight: 400;
}
.hero div.hero-blurb {
  text-align: center;
  width: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  /* padding: 0.8rem; */
  /* padding-right: 24px; */
}
.hero div.hero-blurb p {
  text-align: left;
  font-size: 2.8rem;
  line-height: 1.3;
  /* opacity: 0.7; */
  font-family: "Garet Book", sans-serif;
  letter-spacing: -1px;
}

.hero-btns-box {
  display: flex;
  gap: 2.6rem;
}

.hero .btn:link,
.hero .btn:visited {
  width: 32rem;

  background-color: #f7de94;
  white-space: nowrap;
}

.hero .btn:hover,
.hero .btn:active {
  background-color: #889672;
  color: #f9f2f2;
  cursor: pointer;
}

/* promos */
#promos {
  margin-top: 4.8rem;
  padding: 3.6rem 0;
}

#promotional-section img {
  max-width: 33%;
}
.fliers-box {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .fliers-box img {
    transition: all 0.2s ease;
  }

  .fliers-box img:hover {
    transform: scale(1.5);
  }
}

/* Hours section */
#hoursBanner {
  text-align: center;
  /* background-color: pink; */

  height: fit-content;
  max-width: 110rem;
  margin: 0 auto;
  margin-top: 9.6rem;
  /* padding-top: 9.6rem; */
  padding: 3.2rem 0;
  padding-bottom: 9.6rem;
}

.hours-flexbox {
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
  /* height: 70%; */
  /* background-color: #c387a6; */
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 4.2rem;
  margin-top: 6.4rem;
  margin-bottom: 5.6rem;
}

.hours-flexbox div {
  /* height: 100%; */
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  /* background-color: #62c5e5; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1.8rem;
}

.hours-flexbox div h4 {
  font-size: 2rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #889672;
  opacity: 0.8;
}

.hours-flexbox p {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: left;
  letter-spacing: -1px;
}

#phone .phone-number:link,
#phone .phone-number:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #889672;
}

#phone .phone-number:hover,
#phone .phone-number:active {
  text-decoration: underline;
  color: #656e55;
}
/* reservations, menus, about */
#reservations {
  margin-bottom: 3.2rem;
}

#reservations .comeDine {
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  margin-bottom: 4.8rem;
  line-height: 2;
  text-align: center;
}
#openTableLink,
#about .btn {
  width: 70%;
}
#reservations .flex-div,
#menus .flex-div,
#about .flex-div {
  display: flex;
  gap: 2.4rem;
  padding-bottom: 4.2rem;
  flex-shrink: 0;
}

#reservations .heading-secondary {
  margin-top: 5.6rem;
}

#menus {
  margin-top: 7.2rem;
}

#menus .flex-div {
  justify-content: center;
}

#reservations .flex-div img,
#menus .flex-div img,
#about .flex-div img {
  /* width: 50%; */
  min-width: 42rem;
  /* align-self: center; */
}

#reservations .flex-div div,
#menus .flex-div div,
#about .flex-div div {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  align-items: center;
}

#reservations .flex-div div p,
#menus .flex-div div p,
#about .flex-div div p {
  font-size: 2rem;
  text-align: center;
  line-height: 1.8;
}

#menus .container {
  padding: 4.8rem;
  padding-bottom: 7.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 7.2rem;
}

#menus .heading-secondary {
  margin-top: 2.4rem;
  text-align: center;
}

#menus .menu-links-box {
  width: 100%;
  max-width: 800px;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
}

#menus .btn:link,
#menus .btn:visited {
  background-color: #889672;
  color: #eee;
}

#menus .btn:hover,
#menus .btn:active {
  background-color: #7c8868;
}

/* *** photo gallery grid *** */
section#gallery {
  padding-bottom: 4.8rem;
}
#gallery h2.heading-secondary {
  padding-top: 4.2rem;
  text-align: center;
}

#gallery .flex {
  justify-content: center;
}
/* #gallery .container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 0 0 5.6rem;
  row-gap: 3.6rem;
  column-gap: 3.6rem;
  justify-items: center;
  max-width: 96rem;
  margin: 0 auto;
}

#gallery img {
  max-width: 28rem;
} */

section#reservations {
  margin-top: 4.2rem;
  padding-top: 3.6rem;
}

section#hoursBanner,
section#about {
  margin-top: 6rem;
  padding-top: 4.2rem;
  padding-bottom: 4.2rem;
}

/* actual menu section */
section.menu {
  margin-top: 9.4rem;
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
}

section.menu p.disclaimer {
  opacity: 60%;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 1.6;
  text-align: right;
}

section.menu p.disclaimer.left {
  text-align: left;
}

section.menu p.disclaimer-top {
  color: #555555b2;
  font-size: 1.6rem;
  font-style: italic;
  line-height: 1.6;
  margin-top: 1.2rem;
}

section.menu .menu {
  padding: 4.2rem 2.2rem;
}

section.menu .menu-hours-box {
  /* width: 100%; */
  width: 42rem;
  display: flex;
  gap: 4.8rem;
}

section.menu h3.menu-section {
  display: inline-block;
  border-bottom: 2px solid #99cd3262;
  margin-top: 2.4rem;
  font-size: 2.4rem;
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
}
section.menu .menu-group-heading {
  margin: 0;
  margin-bottom: 2.4rem;
  padding-bottom: 1.6rem;
  margin-top: 5.6rem;
  border-bottom: 2px solid #e6e6e6;
  font-size: 7.2rem;
  /* font-family: "Homemade Apple", cursive; */
}

section.menu .menu-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5em;
  /* padding: 1.5em 0; */
}

section.menu .menu-group h3 {
  margin-bottom: 1.6rem;
  margin-top: 1.6rem;
}

section.menu .menu-item {
  display: flex;
  max-width: 42rem;
  margin-bottom: 1.8rem;
}

section.menu .menu-item-text {
  flex-grow: 1;
}

section.menu .menu-item-heading {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

section.menu .menu-item-name {
  margin-right: 1.5em;
  text-transform: uppercase;
  color: #828d72;
  font-weight: 600;
}

section.menu .menu-item-description {
  margin-top: 1rem;
  line-height: 1.6;
  font-size: 1.6rem;
  color: #919191;
}

section.menu .dietary-icon-box {
  display: flex;
}

section.menu .dietary-icon-box .dietary-icon {
  display: inline-block;
  font-size: 1.2rem;
  background-color: #88967277;
  color: #fff;
  padding: 0.8rem;
  border: 1px solid #fff;
  border-radius: 0.4rem;
}

.menu .menu-item.side-box {
  background-color: #f9d1d373;

  width: 100%;
  padding: 1.2rem;
}

section.menu .sides {
  /* background-color: pink; */
  height: 12rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.sides .side-piece {
  font-size: 1.6rem;
  line-height: 1;
  margin: 0.8rem 0;
}

.side-box .sides {
  margin-top: 2rem;
}

/* brunch cocktails */
section.menu .menu-group-heading.cocktails-heading {
  font-size: 3.6rem;
  margin-top: 2.4rem;
  border-bottom: 2px solid #e6e6e6;
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
}

.menu .bitchin-kitchen {
  text-align: left;
  text-transform: uppercase;
}

@media screen and (min-width: 992px) {
  section.menu .menu-group {
    grid-template-columns: repeat(2, 1fr);
  }

  section.menu .menu-item-image {
    width: 125px;
    height: 125px;
  }
}

#about p {
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
  max-width: 95%;
}

#about .flex-div {
  align-items: center;
}

#about .heading-secondary {
  margin-bottom: 1.2rem;
  margin-top: 3.2rem;
}

footer {
  width: 100%;
  max-width: 96rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  font-size: 1.8rem;
  padding: 2.4rem 1.2rem;
  margin-top: 7.2rem;
}

footer ul {
  display: flex;
  gap: 3.6rem;
}

footer ul li {
  list-style: none;
}

footer ul li a:link,
footer ul li a:visited {
  text-decoration: none;
  color: #333;
}

.social-icon {
  font-size: 3.2rem;
}

/* COCKTAILS */

section#brunch .menu-group,
section#lunch .menu-group,
section#dinner .menu-group,
section#wine .menu-group {
  /* background-color: pink; */
  grid-template-columns: repeat(2, 1fr);
}

section#drinks .menu-group,
section#beer .menu-group {
  grid-template-columns: repeat(3, 1fr);
}

section#drinks .menu-item,
#beer .menu-item {
  /* border: 1px solid hotpink; */
  padding: 0.8rem;
  padding-left: 0;
}

section#drinks .menu-item-description,
#beer .menu-item-description,
#wine .menu-item-description {
  font-family: "Garet Book", Arial, Helvetica, sans-serif;
  color: rgba(146, 146, 146, 0.847);
}

#beer .menu-item-description {
  padding-left: 0;
}

#beer .menu-item-description li {
  list-style: none;
}

#beer .menu-item-description ul {
  margin-bottom: 1.2rem;
}

#wine .menu-item-description li {
  font-size: 1.6rem;
  letter-spacing: 0.025rem;
  line-height: 1.8rem;
  margin-bottom: 1.6rem;
}
#wine .menu-item-description li .bold-name {
  font-weight: 700;
  color: #7c7c7cd8;
}

#wine .menu-item-description li .bold-name span br {
  height: 1.2rem;
}
#dinner .sides-banner {
  width: 100%;
  margin-top: 3.2rem;
  /* display: flex; */
}

#dinner .sides-banner .menu-item-heading {
  justify-content: center;
  align-items: center;
}

#dinner .sides-banner .menu-item-heading span.menu-item-name {
  margin: 0 auto;
}

#dinner .sides-banner p.disclaimer-top {
  text-align: center;
}

#dinner .sides-container {
  width: 90%;
  /* text-align: center; */
  display: flex;
  column-gap: 4.8rem;
  row-gap: 3.2rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 2.4rem auto 4.2rem;
}

#dinner .sides-banner p.side-piece {
  font-size: 1.6rem;
  line-height: 1.4;
  /* display: inline-block; */
  /* padding: 1.2rem 1.8rem; */
  margin-bottom: 0;
  text-align: center;
}

#wine .menu h3.menu-section {
  font-size: 1.8rem;
}

#beer .menu-item-text h4 {
  font-size: 1.8rem;
  margin-bottom: 0;
}

#beer .menu-item-description {
  margin-top: 0;
  margin-bottom: 1.8rem;
}

section#wine .menu-item-text ul {
  list-style: none;
  line-height: 2;
  font-size: 1.6rem;
  padding-left: 0;
}

#bubbly .menu-item-name {
  color: rgba(146, 146, 146, 0.797);
  font-size: 1.8rem;
}

#bubbly .menu-item-name em {
  color: rgba(56, 56, 56, 0.847);
  font-size: 2rem;
}
